@using Web.Dal.Models.Admin;
@model ProductViewModel;


@{
    Layout = "~/Views/SharedAdmin/_AdminLayout.cshtml";
}
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-4">
            <div>
                Product Name: <input type="text" name="Name" value="@Model.Name" class="form-control"/>
            </div>
            <div>
                Description: <input type="text" name="Description" value="@Model.Description" class="form-control"/>
            </div>
            <div>
                Quantity: <input type="number" name="Quantity" value="@Model.Quantity" class="form-control"/>
            
            </div>
            <div>
                Price: <input type="number" name="Price" value="@Model.Price" class="form-control"/>
            </div>

             <div>
                Main Image:
                <input type="file" name="MainImageFile" />
            </div>
            
            <div>
                Category:
                  <select name="CategoryId" class="form-control">
                       <option>Without</option>
                       @foreach (var item in Model.Categories)
                       {
                           
                           <option value="@item.Id">@item.Name</option>
                       }
                  </select>
            </div>
            <div>
                Size:
                 <select name="SizeId" value="@Model.SizeId" class="form-control">
                     
                     @foreach (var item in Model.Sizes)
                     {
                         
                         <option value="@item.Id">@item.Name</option>
                     }
                 </select>
            </div>
            <div>
                Color:
                 <select name="ColorId" class="form-control">
                     
                     @foreach (var item in Model.Colors)
                     {
                         <option value="@item.Id">@item.Name</option>
                     }
                 </select>
            </div>

        </div>
        <div class="col-sm-12">
            <button class="btn btn-info">Save</button>
        </div>

    </div>
</form>
@section scripts{
<script>
    $(function(){
        $('select[name="CategoryId"]').val(@Model.CategoryId)

    });
</script>}
