@model Web.Dal.Models.Admin.ProductViewModel
@{
    Layout = "~/Views/SharedAdmin/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <a href="/Admin/Products/Create" class="btn btn-info">Add new Product</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Discription</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Image</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListProducts)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Quantity</td>
                        <td>@item.Price</td>
                        <td>@item.Category.Name</td>
                        <td>
                            @if (item.MainImage != null)
                            {
                               // <img src="@item.MainImage" style=" width: 100px; height: 100px">
                                <img class="table-image"src="/images/@item.MainImage" style=" width: 100px; height: 100px">
                            }
                            
                        </td>
                        <td>@item.Color.Name</td>
                        <td>@item.Size.Name</td>
                        <td>
                            <a href="/Admin/Products/Edit/@item.Id" class="btn btn-info">Edit</a>
                            <a href="/Admin/Products/Delete/@item.Id"class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
           
             <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                              </a>
            @for (int i = 1 ; i <= Model.TotalPages; i++)
            {
              
                <a @(i == Model.CurrentPage ? "style=color:red;":"") href="/Admin/Products?page=@i">@i</a>
                
            }
            <a class="page-link" href="/Admin/Products?page=i" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                              </a>
        </div>
    </div>
</div>